body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:140px;
  width:80px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u2_img.disabled {
}
#u2.disabled {
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:140px;
  width:80px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u4_img.disabled {
}
#u4.disabled {
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:58px;
  top:35px;
  width:282px;
  height:24px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:58px;
  width:390px;
  height:41px;
  font-size:28px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:41px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
